<h1>
  <i class="fa fa-<%= @line.mode.icon %>"></i> <%= @line.name %>
  <% if current_user&.has_role?(:admin) %>
    <small>
      <%= link_to edit_line_path(@line) do %>
        <i class="fa fa-fw fa-pencil"></i>
      <% end %>
      <%= link_to destroy_line_path(@line), method: :delete, class: 'text-danger' do %>
        <i class="fa fa-fw fa-times"></i>
      <% end %>
    </small>
  <% end %>
</h1>
<p><%= @line.description %></p>
<div class="line-full-map" data-id="<%= @line.id %>"></div>

<h2>Stops on this line</h2>
<% @directions.in_groups_of(2).map(&:compact).each do |g| %>
  <% admin = current_user&.has_role?(:admin) %>
  <div class="row">
    <% g.each_with_index do |d, i| %>
      <div class="<%= @directions.size < 2 && i == 0 ? 'col-md-5' : 'col-md-6' %>">
        <%= render 'stops/line_table', stops: @stops[d.direction], direction: d.direction, admin: admin %>
      </div>
      <% if @directions.size < 2 && i == 0 %>
        <div class="col-md-2 text-center clone-controls">
          <%= link_to clone_stops_path(line_id: @line.id), method: :post, title: 'Clone stops list to opposite direction' do %>
            <i class="fa fa-2x fa-clone"></i>
            <p>Clone</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render 'json', lines: [@line] %>

<%= marker_paths %>
<%= maps_javascript 'mapt.initLineShowMap' %>