<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="clearfix">
        <h4 class="pull-left"><i class="fa fa-<%= mode.icon %>"></i> <%= mode.name %></h4>
        <h4 class="pull-right">
          <%= link_to edit_mode_path(mode) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
          <%= link_to destroy_mode_path(mode), remote: true, class: 'text-danger mode-delete', method: :delete do %>
            <i class="fa fa-times fa-fw"></i>
          <% end %>
        </h4>
      </div>
      <p><%= mode.description %></p>
    </div>
  </div>
</div>